<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4"> <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p>
    <%= link_to @friend.email %> |
    <%= link_to @friend.phone %> |
    <%= link_to @friend.twitter %>|
    <%= link_to @friend.user_id %>
  </p>
  <br>
  <p>
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
    <%= link_to 'Delete', @friend, class:"btn btn-danger ", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', friends_path, class:"btn btn-secondary" %>
  </p>
</div>